#contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
  .content h2{
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-align: center;
    height: 10vh;
    font-size: 1rem;
  }
  .content p{
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-align: center;
    
    
  }
  .container{
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 2px 1px gray;
  }
  
  .container .contactinfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    
  }
  .container .contactinfo .box{
    position: relative;
    padding: 10px;
    
  }
  .container .contactinfo .box .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
  color: var(--secondary-color );
  padding: 10px;
 
  }
  .container .contactinfo .box .text h3{
    font-weight: 500;
    color: var(--secondary-color);
  }
  .box .contact-icon{
    color: var(--secondary-color);
    position: absolute;
    padding: 10px;
    
    
  }
  .text{
    margin-left: 10px;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px;
    background-color: var(--primary-color);
   height: 50vh;
   margin-top: 20px;
   
   
  }
  .contact-form h2{
    color: var(--secondary-color);
  }
  
  .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .inputbox input,textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
    resize: none;
    background-color: var(--primary-color);
    
  }
  
  
  .contact-form .inputbox input[type=submit]{
    width: 100px;
    background-color: #7562d7;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--secondary-color);
  }
  .contact-form .inputbox input[type=submit]:hover{
    color: #7562d7;
    background-color: var(--secondary-color);
  }
  .text a{
    text-decoration: none;
    color: var(--secondary-color);
  }
  @media screen and (max-width:390px){

    .container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      box-shadow: none;
    }
    
  }